<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
</head>
<body>
    <h2>Chat Messages</h2>
    <div id="chat-log-container"></div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <!-- Use Chrome 33+ -->
    <section>
        <div class="radio">
            <input type="radio" name="lang" value="en-US" checked="checked"> US English 
        </div>
        <button>
            <i class="fa fa-microphone"></i> Click and talk to me!
        </button>
        <span class="output_log"></span>
        <p class="output">You said:
            <strong class="output_result"></strong>
        </p>
    </section>

    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'chat/js/ws.js' %}"></script>
    <script src="{% static 'chat/js/input.js' %}"></script>
</body>
</html>